.movie {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 20px;
}

.left_side {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.movies_details {
    margin-left: 40px;
    margin-bottom: 40px;
    width: 180px;
}

.movies_hours {
    display: flex;
    margin-left: 40px;
}

.movies_hours .mantine-Card-root {
    margin-left: 20px;
}

a {
    color: inherit;
}

.movies_date_selector_panel {
    justify-content: center;
}

.movies_list {
    margin-top: 40px;
}

.date-card {
    user-select: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.date-card:hover {
    background-color: #38a169;
    color: white;
}

.date-card.selected {
    background-color: #4b3361;
    color: white;
}
